[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX

[user]
	email = benjamin.delespierre@gmail.com
	name = Benjamin Delespierre

[push]
	default = simple

[alias]
	graph = !git log --graph --decorate --oneline --color=always | less -R
	gr = !git graph
	gra = !git log --graph --decorate --oneline --all --color=always | less -R
	co = checkout
	com = checkout master
	ci = commit
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	ru = remote update
	br = branch -vv
	b = rev-parse --abbrev-ref HEAD
	nb = checkout -b
	db = branch -D
	su = submodule update
	sui = submodule update --init
	st = status --short
	stu = !git status --short | grep U
	ls = !git ls-files | less -RFX
	lc = !git ls-files | xargs wc -l
	ls-grep = !git ls-files | grep -P -i --colour=always \"$1\" | less -RFX; fi
	ame = commit --amend
	p = push
	fp = push -f
	smecta = push -f #trololo
	pp = pull
	df = diff
	dno = diff --name-only
	dfc = diff --cached
	dfw = diff -w
	ada = add -A
	adaci = !git add -A && git commit
	adame = !git add -A && git commit --amend
	addw = !git diff -w --no-color \"$@\" | git apply --cached --ignore-whitespace
	fclean = !git clean -df && git submodule update --recursive
	hreset = reset --hard
	merge-master = "!sh -c 'ultra-merge origin master'"
	update-master = !git checkout master && git pull && git checkout -
	g = grep -C2 -p
	manifest = !git log --name-only --format=format: --diff-filter=A | sort -u | tail -n +2
	oops = !git status --short && git add -A && git commit --amend --no-edit --no-verify && git push --force --no-verify
	wip = !git ada && git commit -m "wip" && git push
