[core]
    editor = vim
    pager = delta

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	features = decorations
	side-by-side = true
	line-numbers = true

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[user]
	email = benjamin.delespierre@kleegroup.com
	name = Benjamin Delespierre

[push]
	default = simple

[alias]
	graph = !git log --graph --decorate --oneline --color=always | less -R
	gr = !git graph
	co = checkout
	ci = commit
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	ru = remote update
	br = branch -vv
	b = rev-parse --abbrev-ref HEAD
	st = status --short
	ls = !git ls-files | less -RFX
	lc = !git ls-files | xargs wc -l
	ame = commit --amend
	p = push
	fp = push -f
	smecta = push -f #trololo
	pp = pull
	ada = add -A
	adaci = !git add -A && git commit
	adame = !git add -A && git commit --amend --no-edit
	update-master = !git checkout master && git pull && git checkout -
	update-main = !git checkout main && git pull && git checkout -
	update-develop = !git checkout develop && git pull && git checkout -
	g = grep -C2 -p
	manifest = !git log --name-only --format=format: --diff-filter=A | sort -u | tail -n +2
	oops = !git status --short && git add -A && git commit --amend --no-edit --no-verify && git push --force --no-verify
	wip = !git ada && git commit --no-verify -m "wip" && git push
	pubg= !git push -u origin $(git b)
	remove-orig= !git status --short | grep '.orig$' | awk '{ print $2 }' | xargs rm -v
	authors = shortlog --summary --numbered --email

[credential]
	helper = cache --timeout=86400
